		<section class="page__section pt-5 section__info" data-nav="Application desctiption" id="desctiption">
			<article class="article container-fluid">
				<h2 class="section__heading text-center">
					Application desctiption
				</h2>
				<p class="article__text text-center">
					Sneaky Sketchers is a AI / ML powered application that is designed to make removing unwanted objects from your pictures hasslefree and intutive. Now you dont need to install hugh image editing suited just to remove a single object from your images.
				</p>
				<h3 class="article__heading text-center">
					Application functions
				</h3>
				<p class="article__text text-center">
					Sneaky Sketchers will make removing objects from your images a breeze with the following features.
				</p>
				<div class="section__cards row justify-content-between mt-5">
					<div class="card cards col-lg-3">
						<img src="/imgs/feature1.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">AI / ML Powered</h5>
							<p class="card-text">This application is developed using the latest research in machine learning and artificial intelligence, which means that it will get smarter and powerful with more usage.</p>
							<a href="#" class="btn btn-success">Download</a>
						</div>
					</div>
					<div class="card cards col-lg-3">
						<img src="/imgs/feature2.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Intutive UX</h5>
							<p class="card-text">The user interface/user experience was given the utmost importance during the development to make sure that it works great and is a delight to use for everyone.</p>
							<a href="#" class="btn btn-success">Download</a>
						</div>
					</div>
					<div class="card cards col-lg-3">
						<img src="/imgs/feature3.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Highly efficient</h5>
							<p class="card-text">As Sneaky Sketchers uses state of the art technology and is very lightweight, it will out-performance most of the industry design suites in terms of performance.</p>
							<a href="#" class="btn btn-success">Download</a>
						</div>
					</div>
					<div class="card cards col-lg-3">
						<img src="/imgs/feature4.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Simple to use</h5>
							<p class="card-text">The inspiration behind Sneaky Sketchers was that the industry tools have a steep learning curve, so it was designed to be easy to use without any training needed.</p>
							<a href="#" class="btn btn-success">Download</a>
						</div>
					</div>
				</div>
			</article>		
		</section>