		<main class="page__section row align-items-center section__login " data-nav="Download" id="section__login">
			<div class="login__form col-md-6 offset-md-3">
				<h2 class="section__heading display-3 text-white text-center mb-5">
					Press download button to get application
				</h2>
				<button class="btn btn-success text-center" style="
    margin-left: 40%!important;
    margin-bottom: 1em !important;
">Download</button>
			</div>	
		</main>